@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

#header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  height:2rem;
  background-color:rgb(89, 130, 255);
  position:fixed;
  top:0;
  left:0;
  padding:2.5rem;
  color:white;
  box-sizing:border-box;
}
h1{
  font-family: "Gugi", sans-serif;
  font-weight:400;
  cursor:pointer;
}
#header p{
  cursor:pointer;
}
.sign-in-page, .sign-up-page{
  display:flex;
  align-items:center;
  justify-content:center;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}
.back-btn{
  position:absolute;
  top:5%;
  left:3%;
  cursor:pointer;
}
form{
  box-shadow:0px 3px 15px rgb(222, 222, 222);
  border-radius:0.5rem;
  width:22rem;
  height:fr;
  padding:2rem;
  padding-top:2rem;
}
form h1{
  font-family:sans-serif;
  text-align:center;
  font-size:2.5rem;
  font-weight: 700;
  margin-top:0;
  margin-bottom:0;
}
form p{
  margin-bottom:0.3rem;
}
form input{
  width:97%;
  height:2.4rem;
  border:1px solid rgb(183, 183, 183);
  border-radius:4px;
  padding-left:0.5rem;
}
.email-box {
  position:relative;
  width:100%;
  max-width:97%;
}
.email-box input {
  width:100%;
  height:40px;
}
.password-box{
  position:relative;
  width:100%;
  max-width:97%;
  z-index:9;
}
.password-box input{
  width:100%;
  height:40px;
  margin-bottom:1rem;
}
span {
  position: absolute;
  right: 0%;
  top: 67%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #777777;
}
.password-box img{
  cursor:pointer;
  width:1.3rem;
  height:1.3rem;
  position:relative;
  bottom:0.4rem;
  z-index:10;
}
button{
  display:block;
  cursor:pointer;
  margin-top:0.5rem;
  width:100%;
  height:2.5rem;
  border-radius:4px;
  border:none;
  background-color:rgb(231, 231, 231);
  color:rgb(0, 0, 0);
  font-weight:700;
  font-size:1rem;
  justify-content:center;
  align-items:center;
}
.verifying-box input{
  margin-top:0.5rem;
}
.verifying-input{
  width:65%;
}
.verifying-btn{
  width:30%;
  float:right;
}
.blue-btn{
  background-color:rgb(89, 130, 255);
  color:white;
}
.forgot-password{
  color:grey;
  font-size:0.8rem;
  cursor: pointer;
  text-align:center;
}
.red-text{
  color:red;
  font-size:0.8rem;
  margin-top:0.4rem;
}
.grey-text{
  color:#777;
  font-size:0.8rem;
  margin-top:0.4rem;
}
.modal-overlay{
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:11;
  width:100%;
  height:100vh;
  background-color:rgba(0, 0, 0, .5);
  position:fixed;
}
.modal-content{
  width:22rem;
  height:10rem;
  padding:2rem;
  background-color:white;
  border-radius:0.5rem;
}
.modal-content h2{
  text-align:center;
  position:relative;
  top:2rem;
}
.modal-content .blue-btn{
  cursor:pointer;
  width:4rem;
  float:right;
  margin-top:3rem;
}