@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.home-page{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-color:rgb(245, 245, 245);
}

#header{
  display:flex;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:2rem;
  align-items:center;
  justify-content:space-between;
  padding:2.5rem;
  box-sizing:border-box;
  color:white;
  background-color:rgb(89, 130, 255);
}

#header h1{
  font-family: "Gugi", sans-serif;
  font-weight:400;
  cursor:pointer;
}

#header p{
  cursor:pointer;
}

#content{
  display:grid;
  grid-template-columns:50% 50%;
  width:100%;
  height:calc(100vh - 6rem);
  margin-top:5.5rem;
}

.box1, .box2{
  justify-content:center;
  align-items:center;
  padding:3rem;
}

.me{
  width:100%;
  height:100%;
  border-radius:1rem;
  background-color:white;
}

.good-players{
  width:100%;
  height:60%;
}

.ranking{
  width:100%;
  height:40%;
}

.good-players h1{
  margin-top:0;
  color:black;
}

.podium{
  display:flex;
  width:100%;
  height:calc(100% - 4rem);
}

.first, .second, .third{
  display:flex;
  width:33%;
  height:100%;
  flex-direction:column;
  align-items:center;
}

.podium img{
  width:4rem;
  height:4rem;
  border-radius:50%;
  object-fit: cover;
}

.info-wrap{
  display:flex;
  width:80%;
  flex-direction:column;
  align-items:center;
  padding-top:1rem;
  padding-bottom:1rem;
  border-radius:1rem;
  background-color:white;
}

.info-wrap h1{
  margin-bottom:0.5rem;
}

.info-wrap h2{
  margin-top:0.5rem;
  margin-bottom:0.2rem;
}

.info-wrap h4{
  margin:0;
}

.sign-in-page, .sign-up-page{
  display:flex;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  align-items:center;
  justify-content:center;
}

.back-btn{
  position:absolute;
  top:5%;
  left:3%;
  cursor:pointer;
}

form{
  width:22rem;
  height:fr;
  padding:2rem;
  padding-top:2rem;
  border-radius:0.5rem;
  box-shadow:0px 3px 15px rgb(222, 222, 222);
}

form h1{
  margin-top:0;
  margin-bottom:0;
  font-family:sans-serif;
  text-align:center;
  font-size:2.5rem;
  font-weight: 700;
}

form p{
  margin-bottom:0.3rem;
}

form input{
  width:97%;
  height:2.4rem;
  border:1px solid rgb(183, 183, 183);
  border-radius:4px;
  padding-left:0.5rem;
}

.email-box {
  position:relative;
  width:100%;
  max-width:97%;
}

.email-box input {
  width:100%;
  height:40px;
}

.password-box{
  position:relative;
  width:100%;
  max-width:97%;
  z-index:9;
}

.password-box input{
  width:100%;
  height:40px;
  margin-bottom:1rem;
}

span{
  position: absolute;
  right: 0%;
  top: 67%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #777777;
}

.password-box img{
  position:relative;
  bottom:0.4rem;
  width:1.3rem;
  height:1.3rem;
  z-index:10;
  cursor:pointer;
}

button{
  display:block;
  width:100%;
  height:2.5rem;
  justify-content:center;
  align-items:center;
  margin-top:0.5rem;
  border-radius:4px;
  border:none;
  font-weight:700;
  font-size:1rem;
  color:rgb(0, 0, 0);
  background-color:rgb(231, 231, 231);
  cursor:pointer;
}

.verifying-box input{
  margin-top:0.5rem;
}

.verifying-input{
  width:65%;
}

.verifying-btn{
  float:right;
  width:30%;
}

.blue-btn{
  color:white;
  background-color:rgb(89, 130, 255);
}

.forgot-password{
  font-size:0.8rem;
  text-align:center;
  color:grey;
  cursor: pointer;
}

.red-text{
  margin-top:0.4rem;
  font-size:0.8rem;
  color:red;
}

.grey-text{
  margin-top:0.4rem;
  font-size:0.8rem;
  color:#777;
}

.modal-overlay{
  display:flex;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:15;
  align-items:center;
  justify-content:center;
  background-color:rgba(0, 0, 0, .5);
}

.modal-content{
  width:22rem;
  height:10rem;
  padding:2rem;
  border-radius:0.5rem;
  background-color:white;
  opacity:0;
  transform: translateY(2rem);
  animation:modalAnimation 0.3s ease-out forwards;
}

@keyframes modalAnimation{
  to{
    opacity:1;
    transform: translateY(0);
  }
}

.modal-content h2{
  position:relative;
  top:2rem;
  text-align:center;
}

.modal-content .blue-btn{
  float:right;
  width:4rem;
  margin-top:3rem;
  cursor:pointer;
}

@media (orientation: portrait){
  #content{
    grid-template-columns: 1fr;
    grid-template-rows:18rem 1fr;
  }
  .box1{
    grid-row:1/2;
  }
  .box2{
    height:25rem;
  }
}